<!DOCTYPE html>
<html lang="en">
<head>
  <title>NatureSnap</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<nav class="navbar navbar-dark bg-dark justify-content-between fixed-top">
  <a class="navbar-brand mb-0 h1">NatureSnap</a>
  <a href="/home" class="btn btn-outline-light my-2 my-sm-0">Go back</a>
</nav>
<div class="contact py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <form id="form3">
      <div class="contact-grids1 w3agile-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 contact-form1 form-group">
            <label class="col-form-label">Description</label>
            <input type="text" class="form-control" placeholder="Type image description" id="description2" name="description2">
          </div>
          <div class="col-md-6 col-sm-6 contact-form1 form-group">
            <label for="license2">License</label>
            <select class="form-control" id="license2">
              <option>CC_BY</option>
              <option>CC_BY_SA</option>
              <option>CC_BY_ND</option>
              <option>CC_BY_NC</option>
              <option>CC_BY_NC_SA</option>
              <option>CC_BY_NC_ND</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-6 contact-form1 form-group">
            <label class="col-form-label">Owner ID</label>
            <input type="text" class="form-control" placeholder="Type image owner's ID" id="ownerID2" name="ownerID2">
          </div>
          <div class="col-md-6 col-sm-6 contact-form1 form-group">
            <label class="col-form-label">Author ID</label>
            <input type="text" class="form-control" placeholder="Type image author's ID" name="authorID2" id="authorID2">
          </div>
          <div class="col-md-6 col-sm-6 contact-form1 form-group">
            <label class="col-form-label">Keywords</label>
            <input type="text" class="form-control" placeholder="Separate keywords by comma" name="keywords2" id="keywords2">
          </div>
        </div>
        <div class="mx-auto col-md-6">
          <button type="submit" id="editImage" class="btn btn-outline-info my-2 my-sm-0 form-control" th:data-id="${id}">Update</button>
          <br><br>
        </div>
      </div>
      <br>
      <div id="success3" class="text-center" style="color:green;"></div>
      <div id="error3" class="text-center" style="color:red;"></div>
    </form>
  </div>
</div>
<script src="/app.js"></script>
</body>
</html>